.gt-app-bar
{
    @height: 50px;

    color: white;
    background: @primary-color;
    height: @height;
    padding-left: 45px;

    h1
    {
        display: block;
        font-size: 16px;
        height: @height;
        line-height: @height;
    }
}
