.gt-app-bar
{
    @height: 50px;

    position: relative;
    color: white;
    background: @primary-color;
    height: @height;

    .logo
    {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
        text-align: center;
        width: 45px;
        height: @height;
        line-height: @height;
    }

    h1
    {
        top: 0;
        left: 45px;
        position: absolute;
        font-size: 16px;
        height: @height;
        line-height: @height;
    }
}
