.gt-city-search-view
{
    display: flex;
    position: relative;
    
    ul
    {
        background-color: white;
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 23px;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        
        > li
        {
            height: 24px;
        }
    }
}
