.gt-float-action-button
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: @fab-size;
    height: @fab-size;
    border-radius: @fab-size * 0.5;
    font-size: @fab-size * 0.7;
    color: @fab-color;
    background: @fab-bg;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    display: flex;
    justify-content: center;

    > .icon
    {
        align-self: center;
        padding-top: 1px;
    }
}
