.gt-route-list-view
{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    
    > li
    {
        height: @route-list-item-height;
        line-height: @route-list-item-height;
        background-color: white;
        margin: 6px 14px 6px 14px;
        display: flex;
        padding-left: 8px;
        padding-right: 8px;

        &:first-child
        {
            margin-top: 20px;
        }
                
        > .icon
        {
            color: #555;
            width: 14px;
            text-align: center;
        }

        .text
        {
            cursor: default;
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 8px;
            margin-right: 8px;
        }
        
        &:hover .delete-icon
        {
            opacity: 1;
        }
        
        .delete-icon
        {
            cursor: pointer;
            opacity: 0;
        }
    }
}
