.gt-route-editor
{
    header
    {
        .item
        {
            &.direction
            {
                position: relative;

                label
                {
                    transform: rotate(-45deg);
                }

                .title
                {
                    position: absolute;
                    top: -4px;
                    width: 30px;
                    margin-left: -15px;
                    display: none;    // flex
                    justify-content: center;
                }
            }
        }
    }

    main
    {
        .item
        {
            &:first-of-type, &:last-of-type
            {
                label
                {
                    cursor: move;
                }
            }

            img
            {
                width: 15px;
                height: 25px;
            }
        }
    }
}
