.gt-route-editor
{
    @item-height: 40px;

    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 1;

    > header
    {
        padding: 20px;
        background: @primary-color-darker;

        > .item
        {
            width: 100%;
            height: @item-height;

            label
            {
                color: white;
                line-height: @item-height;
                width: 80px;
                display: inline-block;
            }

            input
            {

            }
        }
    }

    > main
    {
        padding: 20px;
        background: white;
    }
}
